// Cheatsheet CSS: https://getbootstrap.com/docs/5.3/examples/cheatsheet/cheatsheet.css

.dc-cheatsheet {
    position: relative;
    z-index: 0;
    padding: 0;
}

/* Table of contents */
.dc-cheatsheet__aside {

    a {
        padding: .1875rem .5rem;
        margin-top: .125rem;
        margin-left: .3125rem;
        color: var(--dc-body-color);

        &:hover,
        &:focus {
            color: var(--dc-body-color);
            background-color: rgba(121, 82, 179, .1);
        }
    }

    .active {
        font-weight: 600;
        color: var(--dc-body-color);
    }

    .btn {
        padding: .25rem .5rem;
        font-weight: 600;
        color: var(--dc-body-color);

        &:hover,
        &:focus {
            color: var(--dc-body-color);
            background-color: rgba(121, 82, 179, .1);
        }
        &:focus {
            box-shadow: 0 0 0 1px rgba(121, 82, 179, .7);
        }

        &:before {
            width: 1.25em;
            line-height: 0;
            content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
            transition: transform .35s ease;
            transform-origin: .5em 50%;
        }
        &[aria-expanded="true"]:before {
            transform: rotate(90deg);
        }
    }
}

/* Examples */
.dc-cheatsheet__examples {

    .dc-cheatsheet__example-wrapper {}

    [id="modal"] .dc-cheatsheet__example-content .btn,
    [id="buttons"] .dc-cheatsheet__example-content .btn,
    [id="tooltips"] .dc-cheatsheet__example-content .btn,
    [id="popovers"] .dc-cheatsheet__example-content .btn,
    [id="dropdowns"] .dc-cheatsheet__example-content .btn-group,
    [id="dropdowns"] .dc-cheatsheet__example-content .dropdown,
    [id="dropdowns"] .dc-cheatsheet__example-content .dropup,
    [id="dropdowns"] .dc-cheatsheet__example-content .dropend,
    [id="dropdowns"] .dc-cheatsheet__example-content .dropstart {
        margin: 0 1rem 1rem 0;
    }

    .dc-cheatsheet__placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .dc-cheatsheet__scrollspy-example {
        height: 200px;
    }

    @media (min-width: 768px){
        .dc-cheatsheet__placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
}

.dc-cheatsheet__example-heading + div > * + * {
    margin-top: 3rem;
}

/* Layout */
@media (min-width: 1200px) {

    .dc-cheatsheet {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 4fr 1fr;
        gap: 1rem;
    }

    /**
     * 1. Too bad only Firefox supports subgrids ATM //Todo: check current specs
     */
    .dc-cheatsheet__examples,
    .dc-cheatsheet__examples section,
    .dc-cheatsheet__example {
        display: inherit; /* 1 */
        grid-template-rows: auto;
        grid-template-columns: 1fr 4fr;
        grid-column: 1 / span 2;
        gap: inherit; /* 1 */
    }

    .dc-cheatsheet__aside {
        grid-area: 1 / 3;
        top: 2rem;
        scroll-margin-top: 2rem;
    }

    .dc-cheatsheet__examples section,
    .dc-cheatsheet__examples section > h2 {
        top: 2rem;
        scroll-margin-top: 2rem;
    }

    .dc-cheatsheet__examples section > h2::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -2rem;
        left: 0;
        z-index: -1;
        content: "";
    }

    .dc-cheatsheet__example,
    .dc-cheatsheet__example-heading {
        top: 6rem;
        scroll-margin-top: 6rem;
    }

    .dc-cheatsheet__example-heading {
        z-index: 1;
    }
}
